/*Colors*/

$principal-color: #49b0de;
$principal-light-color: #0f8ac1;
$principal-lighter: #E6F3FA;
$principal-dark-color: #0f8ac1;
$secondary-color: #424582;
$tertiary-color: #61d16a;
$white-color: #fff;
$black-color: #3c3c3b;

/*FONT FAMILIY*/

$principal-font: 'Poppins', sans-serif;