.article{
  h3{
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    @include respond-above(sm){
      font-size: 1.5rem;
    }
    @include respond-above(xl){
      font-size: 1.875rem;
    }
  }
  p{
    font-size: 1rem;
    line-height: 1.5;
    @include respond-above(sm){
      font-size: 1rem;
    }
    
    @include respond-above(xl){
      font-size: 1.4rem;
    }
  }
  &__section{
    margin-bottom: 3rem;

    // &--grid{
    //   display: grid;
    //   grid-template-columns: repeat(2,1fr);
    //   align-items: flex-start;
    //   grid-column-gap: .5rem;
    // }
  }
  &__gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    grid-gap: 1rem;
    max-width: calc(2*15.875rem);
    
    &--float-right{
      float: right;
      margin-left: .5rem;
    }
    
  }
  &__figure{
    border: 5px solid $principal-color;
  }
  &__image{
    max-width: 100%;
  }
}