.navigation{
  padding: 1rem 1rem 1rem 0;
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  @include respond-above(md){
  max-width: 100%;  
  }
  &--float{
    @include respond-above(md){
      float: left;
      margin-right: 1rem;

    }
  }




  &__list-number{
    list-style: none;
    counter-reset: li;
    margin-bottom: 0;
    text-align: center;
    @include respond-above(md){
      text-align: left;
    }
  }
  &__item-number{
    position: relative;
    counter-increment: li;
    &:before{
      @include respond-above(md){
        content: counter(li);
         position: absolute; 
        color: $principal-color;
        margin-right: 1rem;
        margin-left: -1rem;

      }
      

    }
  }
  &__list-bullet{
    list-style: none;
    margin-bottom: 0;
    text-align: center;
    @include respond-above(md){
      text-align: left;
    }
  }
  &__item-bullet{
    position: relative;
    &:before{
      @include respond-above(md){
        position: absolute;
        content: '';
        top: 50%;
        left: -.8rem;
        transform: translateY(-50%);
        display: inline-block;
        width: 4px;
        height: 4px;
        background: $principal-color;
        border-radius: 2px;

      }
    }
  }
  &__link{
    color: $black-color;
    &:hover{
      color: $principal-color;
    }
  }
}